{% extends 'base_STO.html' %}
{% load static %}


{% block content %}

    <main>

        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- about__history-start -->
        <section class="about__history pt-30 pb-20">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="text-center mb-30">
                        Подробная информация об СТО «Кармастер» в Севастополе
                    </h1>
                    <div class="col-xxl-8 col-xl-10">
                        <div class="about__history-wrapper">
                            <div class="about__history-title-area">
                                <span class="about__history-title-pre">Наша компания</span>
                                <h3 class="about__history-title">
                                    <span>Автосервис с безупречной репутацией</span> <br>
                                    Более 1000 выполненных заказов
                                </h3>
                            </div>
                            <p class="about__history-text">
                                Достойный автосервис, которому не страшно доверить свое авто? Кармастер — сервис для
                                людей и машин. В нашем штате порядочные и образованные мастера с практикой в
                                авторизованных сервисах, а также тактичные и общительные менеджеры. Выбирая нас, вы
                                получите широкий спектр услуг, годовую гарантию на работу, возможность контролировать
                                процесс ремонта благодаря доступу в боксы. Всегда находим выгодное решение для клиента.
                                Наши направления:
                            </p>
                        </div>
                        <div class="list-counter-circle">
                            <ol>
                                <li>
                                    пост-гарантийное обслуживание автомобилей;
                                </li>
                                <li>
                                    профессиональный кузовной ремонт;
                                </li>
                                <li>
                                    слесарные работы;
                                </li>
                                <li>
                                    ремонт автоэлектрики;
                                </li>
                                <li>
                                    техническое обслуживание автомобиля.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about__history-end -->

        <!-- reviews area start -->
        <section class="features__area mb-50">
            <div class="row mb-30">
                <div class="col-12">
                    <div class="sec-wrapper text-center">
                        <h5>Отзывы о "Кармастер"</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="https://yandex.ru/profile/235818273283?intent=reviews&utm_source=badge&utm_medium=rating&utm_campaign=v1"
                               target="_blank" rel="noopener">
                                <div class="features__icon">
                                    <i class="fab fa-yandex"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Отзывы на Яндекс</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="https://vk.com/topic-58264387_40205975?offset=60" target="_blank" rel="noopener">
                                <div class="features__icon">
                                    <i class="fab fa-vk"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Отзывы ВКонтакте</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="{% url 'reviews' %}">
                                <div class="features__icon">
                                    <i class="fab fa-youtube"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Отзывы на YouTube</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- reviews area end -->

        <!-- about__gallery-start -->
        <section class="mb-50">
            <div class="container">
                <div class="row mb-30">
                    <div class="col-12">
                        <div class="sec-wrapper text-center">
                            <h5>Наши преимущества</h5>
                        </div>
                    </div>
                </div>

                <!-- advantages area start -->
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card h-100 wrap_images">
                            <img src="{% static 'assets/img/about/work2.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-2 text-center">Более 1000 выполненных заказов</h5>
                                <p class="about__history-text">
                                    Мы дорожим нашей репутацией. У нас работают только профессионалы с практикой в
                                    авторизованных сервисах.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 wrap_images">
                            <img src="{% static 'assets/img/about/work4.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-2 text-center">Внимание к клиенту</h5>
                                <p class="about__history-text">Свободный доступ в ремонтную зону, камеры видеонаблюдения
                                    и
                                    комфортная зона ожидания с кофе и чаем.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 wrap_images">
                            <img src="{% static 'assets/img/about/work3.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-2 text-center">Лучшие материалы и оборудование</h5>
                                <p class="about__history-text">Профессиональная покрасочная камера, инструменты,
                                    оборудование и
                                    материалы. Строгое соблюдение технологических требований.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 wrap_images">
                            <img src="{% static 'assets/img/about/work1.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-2 text-center">Комплексный подход</h5>
                                <p class="about__history-text">Помимо быстрого, недорогого и качественного ремонта у нас
                                    также
                                    можно заказать техническое обслуживание, текущий уход и подбор автомобиля.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- advantages area start -->

                <!-- team-area start -->
                <div class="team-area pt-50 pb-65">
                    <div class="container">
                        <div class="row mb-30">
                            <div class="col-12">
                                <div class="sec-wrapper text-center">
                                    <h5>Наша команда</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-12">
                                <div class="blog__slider blog__slider-d common-nav owl-carousel">
                                    {% for staff in stostaff_list %}
                                        <div class="card h-100 wrap_images wrap_cards">
                                            <div class="blog__thumb w-img fix p-relative">
                                                <img src="{% if staff.image %} {{ staff.image.url }} {% else %} {% static 'assets/img/blog/blog-1.jpg' %} {% endif %}"
                                                     alt="">
                                            </div>
                                            <div class="blog__content p-relative text-center">
                                                <div class="tpteam__text">
                                                    <h3 class="tpteam-title">
                                                        {{ staff.last_name }} {{ staff.first_name }} {{ staff.patronymic }}
                                                    </h3>
                                                    <h5>{{ staff.position }}</h5>
                                                </div>
                                                <p>{{ staff.about }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- team-area end -->
                <div>
                    <p class="about__history-text text-main">
                        Кузов автомобиля – самая его уязвимая часть. Именно на нее приходятся все
                        повреждения, полученные в ходе эксплуатации, неаккуратного вождения,
                        несвоевременного ухода, последствий дорожно-транспортных происшествий. Все это не
                        лучшим образом сказывается на эстетических и эксплуатационных качествах
                        автотранспорта. В Севастополе выполнить кузовной ремонт автомобилей можно в нашем
                        автосервисе «Кармастер».</p>
                    <p class="about__history-text text-main">
                        Мы занимаемся марками и моделями иностранных,
                        отечественных производителей, оказываем профессиональную помощь в устранении
                        мелких дефектов и серьезных повреждений, восстанавливаем экстерьер транспортных
                        средств до заводского состояния – вы не отличите свое авто от тех, что выставлены в
                        салоне!</p>
                    <div class="list-counter-circle">
                        <h5 class="accent m-15">Виды и цена ремонта автомобилей</h5>
                        <p class="about__history-text mb-15 text-main">
                            Существует несколько разновидностей восстановления, включающих разные
                            мероприятия:
                        <ol>
                            <li>
                                <b>косметический</b> (локальный, легкий, мелкий) – применяется в случае образования
                                сколов, царапин, появления небольших вмятин. Их устраняют полировкой,
                                подкрашиванием, выравниванием. Иногда может потребоваться ремонт
                                потолочной обшивки, торпеды. Занимает все это порядка 1-2 дней, стоит
                                минимально;
                            </li>
                            <li>
                                <b>средней сложности</b> – здесь уже выполняются выпрямление и выравнивание
                                незначительных неровностей, демонтаж, рихтовка, шпаклевка, покраска авто.
                                Срок на работу 5-7 суток;
                            </li>
                            <li>
                                <b>капитальный</b> – самый сложный вид масштабной реставрации, необходимый после
                                серьезной аварии. В ходе нее происходит восстановление геометрии кузова,
                                осуществляются жестяные, сварочные работы, монтаж, окрашивание. Время,
                                необходимое на «капиталку» от 12 дней.
                            </li>
                        </ol>
                    </div>
                    <div class="list-counter-circle">
                        <h5 class="accent m-15">Какие услуги можно получить на нашем СТО:</h5>
                        <p class="about__history-text mb-15 text-main">
                        <ol>
                            <li>
                                <b>восстановление геометрии кузова</b> – ремонт кузовной части с помощью
                                профессионального инструмента, специального оборудования;
                            </li>
                            <li>
                                <b>стапельные работы</b> – выравнивание кузова по контрольным точкам;
                            </li>
                            <li>
                                <b>ремонт после лобовых ударов</b> – эффективное исправление повреждений в
                                результате переднего столкновения;
                            </li>
                            <li>
                                <b>покраска</b> – подготовка к окрашиванию в покрасочной камере, подбор идентичного
                                оттенка, использование современного инструмента и ЛКМ;
                            </li>
                            <li>
                                <b>локальные мероприятия</b> – выставление зазоров капота, дверей, бампера;
                            </li>
                            <li>
                                <b>полировка</b> – полная или частичная с применением специального защитного
                                средства;
                            </li>
                            <li>
                                <b>рихтовка</b> – ликвидация локальных недостатков кузова.
                            </li>
                        </ol>
                    </div>
                    <p class="about__history-text text-main">
                        Над восстановлением вашего автомобиля будет трудиться команда опытных
                        специалистов: руководитель сервиса, менеджеры цехов, слесари и жестянщики,
                        выполняющие геометрию кузовной части, выпрямление вмятин, рихтовку, сварку,
                        шпатлевание и зачистку поверхности для идеальной ровности, автомаляры, в чьи задачи
                        входят зачистка, грунтование, обезжиривание, подбор цвета, инструмента и
                        профессиональная окраска.
                    </p>
                    <div class="list-counter-circle">
                        <p class="about__history-text text-main m-15">
                            <b class="accent mt-10">
                                СТО «Кармастер»</b> предлагает покраску и ремонт авто в Севастополе
                            совсем недорого, цена будет зависеть от исходного состояния и сложности работ:</p>
                        <ol>
                            <li>
                                разборка/сборка, дефектовка;
                            </li>
                            <li>
                                исправление перекосов, устранение мелких дефектов, растяжка;
                            </li>
                            <li>
                                подготовка к покраске со снятием старого покрытия, полировкой, шталеванием,
                                абразивной обработкой, грунтовкой;
                            </li>
                            <li>
                                покраска с подбором сопла краскопульта, нужного давления компрессора,
                                нанесением 2-3 слоев краски.
                            </li>
                        </ol>
                    </div>
                    <h5 class="accent m-15">Преимущества</h5>
                    <p class="about__history-text text-main m-15">
                        Благодаря доступности посещения боксов вы можете постоянно контролировать работу мастеров. У
                        нас работают только профессионалы с практикой в авторизованных сервисах. Мы даем
                        гарантию 1 год, выдаем авто точно в срок. У нас также можно заказать техническое
                        обслуживание и текущий уход за автомобилем. Для клиентов – комфортная зона
                        ожидания с кофе и чаем. Обращайтесь, вы останетесь довольны нашим качественным
                        сервисом.
                    </p>
                </div>
            </div>
        </section>
    </main>


{% endblock %}
