{% extends 'base_STO.html' %}
{% load static %}


{% block content %}

    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- contact-area start -->
        <section class="contact-area pt-30 pb-50 fix">
            <div class="container">
                <div class="row">
                    <h1 class="text-center mb-30">
                        Наши контакты
                    </h1>
                    <div class="col-xxl-5 col-xl-6 col-lg-6">
                        <div class="sec-wrapper">
                            <h5>Задайте любой вопрос или запишитесь на СТО</h5>
                            <h2 class="absection-title">Свяжитесь с нами</h2>
                        </div>

                        <!-- messengers area start -->
                        <div class="row text-center">
                            <div class="col-3 col-xs-6">
                                <div class="features__item mb-30">
                                    <a href="viber://chat?number=79782662603">
                                        <div class="features__icon">
                                            <i class="fab fa-viber"></i>
                                        </div>
                                        <p>Viber</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-xs-6">
                                <div class="features__item mb-30">
                                    <a href="https://wa.me/79782662603">
                                        <div class="features__icon">
                                            <i class="fab fa-whatsapp"></i>
                                        </div>
                                        <p>WhatsApp</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-xs-6">
                                <div class="features__item mb-30">
                                    <a href="https://vk.com/cmsto" target="_blank" rel="noopener">
                                        <div class="features__icon">
                                            <i class="fab fa-vk"></i>
                                        </div>
                                        <p>VK</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-xs-6">
                                <div class="features__item mb-30">
                                    <a href="https://www.instagram.com/karmaster92/" target="_blank" rel="noopener">
                                        <div class="features__icon">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                        <p>Instagram</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- messengers area end -->

                        <!-- our contacts start -->
                        <div class="contact-info mr-50 mr-xs-0  mr-md-0 mb-30">
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="contact-info-icon">
                                    <a href="tel: +79782662603"><i class="fal fa-phone-alt"></i></a>
                                </div>
                                <div class="contact-info-text mt-10">
                                    <span>Наш телефон</span>
                                    <h5><a href="tel: +79782662603">+7 978 266 2603</a></h5>
                                </div>
                            </div>
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="contact-info-icon">
                                    <a href="mailto:karmaster92@mail.ru"><i class="fal fa-envelope"></i></a>
                                </div>
                                <div class="contact-info-text mt-10">
                                    <span>Наш email</span>
                                    <h5><a href="mailto:karmaster92@mail.ru">karmaster92@mail.ru</a></h5>
                                </div>
                            </div>
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="contact-info-icon">
                                    <a href="{% url 'contacts' %}#map"><i class="fal fa-map-marker-alt"></i></a>
                                </div>
                                <div class="contact-info-text mt-10">
                                    <span>Наш адрес</span>
                                    <h5>
                                        Севастополь, улица Промышленная, 8
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <!-- our contacts end -->

                    </div>


                    <!-- contacts form area start -->
                    <div class="col-xxl-7 col-xl-6 col-lg-6">

                        <div class="sec-wrapper">
                            <h5>Задать вопрос</h5>
                        </div>
                        <div>
                            <p class="product__title">Для записи на СТО, воспользуйтесь <a
                                    class="text-decoration-underline" href="{% url 'services_registration' %}">
                                формой для предварительной записи</a>
                            </p>
                        </div>

                        <!-- error and messages panel start -->
                        <div>
                            <ul class="errorlist">
                                {% if messages %}
                                    <div class="row alert alert-success alert-dismissible fade show" role="alert"
                                         style="margin-top: 50px;">
                                        {% for message in messages %}
                                            <div{% if message.tags %}
                                                class="{{ message.tags }}"{% endif %}>{{ message|escape }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if form.non_field_errors %}
                                    <li class="text-danger">{{ form.non_field_errors }}</li>
                                {% endif %}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <div class="row alert alert-warning alert-dismissible fade show" role="alert"
                                             style="margin-top: 50px;">
                                            <li>
                                                <i class="fas fa-exclamation-circle text-warning"></i>
                                                <u>{{ field.label }}</u>
                                                <ul class="errorlist">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- error and messages panel end -->

                        <form id="contacts-form" class="conatct-post-form mb-30" action="{% url 'contacts' %}"
                              method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-icon p-relative contacts-name">
                                        <label class="small mb-1" for="{{ form.name.id_for_label }}">
                                            {{ form.name.label }}
                                        </label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label class="small mb-1" for="{{ form.phone.id_for_label }}">
                                        {{ form.phone.label }}
                                    </label>
                                    {{ form.phone }}
                                </div>
                                <div class="col-xl-12">
                                    <div class="contact-icon p-relative contacts-message">
                                        <label class="small mb-1" for="{{ form.content.id_for_label }}">
                                            {{ form.content.label }}
                                        </label>
                                        {{ form.content }}
                                    </div>
                                </div>
                                {% if form %}
                                    <div class="col-xl-12">
                                        <div class="contact- mt-15">
                                            <button class="btn-tp mt-15" type="submit">Отправить</button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <!-- contacts form area end -->
                </div>
            </div>
        </section>
        <!-- contact-area end -->

        <!-- map-area start -->
        <section class="map-area">
            <div class="contact-map">
                <div id="contact-map">
                    <a name="map"></a>
                    <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aea97bd70f9cbb07ffb08cd0cf4fbcef366bc5bdc277c6063084c2b6ab0eabc4f&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </section>
        <!-- map-area end -->

    </main>

{% endblock %}
