@use '../utils/index' as *;

/*----------------------------------------*/
/*  18. BLOG CSS START
/*----------------------------------------*/   
//blog
.blog{
    &__slider{
        & .owl-nav{
            position: absolute;
            top: -60px;
            right: 0;
        }
        &-2{
            position: relative;
        & button{
            font-size: 26px;
            color: $white;
            width: 44px;
            height: 44px;
            line-height: 40px;
            text-align: center;
            border: 2px solid $border-3;
            color: $border-3;
            @include border-radius(50%);
            &.main-slider-button-prev{
               margin-right: 5px;
            }
            &:hover{
                background-color: #000;
                border-color: #000;
            }
            @media #{$md,$sm,$xs} {
                display: none;
            }
        }
        & .owl-prev {
            position: absolute;
            top: 50%;
            left: -65px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            @media #{$xxl} {
                left: -35px;;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1250px) {
                left: -40px;
            }
            @media only screen and (min-width: 991px) and (max-width: 1080px) {
                left: -25px;
            }
        }
        & .owl-next {
            position: absolute;
            right: -65px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            @media #{$xxl} {
                right: -35px;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1250px) {
                right: -40px;
            }
            @media only screen and (min-width: 991px) and (max-width: 1080px) {
                right: -25px;
            }
        }
        }
        &-3{
            position: relative;
           & .owl-nav{
                display: flex;
                position: absolute;
                top: -68px;
                right: 0;
            }
        }
    }
    &__item{
        @include border-radius(3px);
        @include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.08));
        &-2{
            box-shadow: none;
        }
    }
    &__tag{
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translate(-50%, -50%));
        background-color: $theme-color-1;
        padding: 0 10px;
        @include border-radius(3px);

        @media #{$xs}{
            width: 80%;
        }
        & span{
            font-size: 11px;
            color: $white;
            text-transform: uppercase;
        }
    }
    &__content{
        padding: 35px 30px 25px;
        & p{
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        &-3{
            padding: 20px 0;
            padding-right: 30px;
        }
    }
    &__title{
        font-size: 20px;
        font-weight: 600;
        color: $black;
        margin-bottom: 12px;
        & a{
            &:hover{
                color: $theme-color-1;
            }
        }
    }
    &__meta{
        & span{
            font-size: 14px;
            color: $text-7;
            margin-right: 8px;
            & a{
                &:hover{
                    color: $theme-color-1;
                }
            }
        }
        &-2{
            & span{
                color: $theme-color-2;
            }
        }
        &-3{
            & span{
                color: $theme-color-3;
                font-weight: 500;
            }
            & .blog-sm-author{
                position: relative;
                display: inline-block;
                margin-right: 20px;
                &::before{
                    position: absolute;
                    content: "";
                    width: 5px;
                    height: 5px;
                    background-color: $theme-color-3;
                    right: -14px;
                    bottom: 8px;
                    border-radius: 50%;
                }
            }
        }
    }
    &__author{
        & img{
            width: 20px;
            display: inline-block;
            height: 20px;
            @include border-radius(50%);
        }
    }
    &__tpauthor-img{
        & img{
            width: auto;
            height: auto;
        }
    }
    &__date{
        text-align: center;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 54px;
        @include border-radius(3px);
        background-color: $white;
        padding: 6px 0 8px;
        & h5{
            font-size: 23px;
            font-weight: 600;
            margin-bottom: 0;
        }
        & p{
            font-size: 12px;
            color: $black;
            text-transform: uppercase;
            margin-bottom: 0;
            line-height: 1;
        }
    }
    &__wrapper{
        @media #{$md,$xs,$xs} {
            padding-right: 0;
        }
    }
}

/* blog css */
.blog-wrap {
	position: relative;
	z-index: 3;
	margin-top: -291px;
    &.blog-item{
        margin-top: 0;
    }
    @media #{$md,$xs} {
        margin-top: 0;
		margin-bottom: 30px;
    }
}
.blog-title{
    font-size: 32px;
    @media #{$sm} {
        font-size: 30px;
    }
    @media #{$xs} {
        font-size: 25px;
    }
}
.blog-thumb{
	img{
		width: 100%;
	}
}
.blog-video{
	position: relative;
	& .play-btn{
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		margin-top: -50px;
		margin-left: -50px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		font-size: 24px;
		color: $black;
		background: $theme-color-3;
		border-radius: 50%;
		@include box-shadow(none);
		&:hover{
			background: $black;
			color: $white;
		}
	}
}
.blog-meta {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;

    li {
        display: inline-block;
        margin-right: 25px;
        @media #{$lg} {
            font-size: 14px;
        }
        &:last-child {
            margin-right: 0;
        }

        a {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            &:hover{
                color: $theme-color-3;
            }
            i {
                color: $theme-color-3;
                margin-right: 3px;
            }

            color: #686a6f;
        }
    }
}
.blog-info{
	padding-top: 28px;
	border-top: 1px solid #e9ebee;
}
.blog-tag,
.blog-category{
	& span{
        font-size: 16px;
        text-transform: capitalize;
		color: $black;
	}
	& a{
		&:hover{
			color: $black;
		}
	}

}
/* sidebar widget */
.sidebar{
    &__widget{
        &-title{
            & h4{
                font-size: 24px;
                position: relative;
                padding-bottom: 12px;
            }
        }
        &-content{
            & .search{
                position: relative;
                & input{
                    width: 100%;
                    height: 70px;
                    line-height: 70px;
                    @include border-radius(5px);
                    border: none;
                    outline: none;
                    padding: 0 20px;
					padding-right: 40px;
                    background: $theme-color-3;
                    color: $white;
                    &::placeholder{
                        color: $white;
                    }
                }
                & button{
                    position: absolute;
                    top: 50%;
                    right: 0;
					@include transform(translateY(-50%));
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
					font-size: 20px;
                    color: $white;
                    background: transparent;
                }
            }
            & .cat-link{
                & ul{
                    & li{
                        margin-bottom: 15px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        & a{
                            position: relative;
                            font-weight: 400;
							display: block;
                            &::after{
                                position: absolute;
                                content: '\f105';
                                right: 0;
                                top: 0;
                                font-family: "Font Awesome 5 Pro";
                                font-size: 16px;
                            }
                            &:hover{
                                color: $theme-color-3;
								&::after{
									color: $theme-color-3;
								}
                            }
                        }
                    }
                }
            }
			& .tags{
				& a{
					font-size: 16px;
					&:hover{
						color: $theme-color-3;
					}
				}
			}
        }
		&-padding{
			padding: 45px 45px;
		}
    }
}
/* recent post */
.rc-text{
    & h6{
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 0px;
        & a{
            &:hover{
                color: $theme-color-3;
            }
        }
    }
}
.rc-thumb{
	& img{
        width: 60px;
		height: 60px;
		@include border-radius(50%);
	}
}
.rc-meta{
		font-size: 13px;
}


//user rating
.user-rating{
    & ul{
      & li{
        display: inline-block;
        & a{
          color: $theme-color-3;
        }
      }
    }
}
//review css
.post-rating{
    & ul{
        & li{
            display: inline-block;
            & a{
                &:hover{
                    color: $black;
                }
            }
        }
    }
}
.post-date{
    & span{
        font-size: 14px;
        font-weight: 400;
        color: $theme-color-3;
    }
}
.post-comments {
	border-bottom: 1px solid  $border;
	margin-bottom: 42px;
	padding-bottom: 46px;
}
.comments-box {
	border-top: 1px solid $border;
	padding: 30px 0;
}
.latest-comments li:first-child .comments-box {
	border-top: 0;
	padding-top: 0;
}
.comments-avatar {
    float: left;
    margin-right: 20px;
    & img{
        @include border-radius(50%);
    }
}
.comments-text {
	overflow: hidden;
	padding-top: 4px;
}
.comments-text p{
	font-size: 16px;
}
.comments-text p span{
	color: $black-3;
}
.avatar-name {
	margin-bottom: 3px;
	overflow: hidden;
	position: relative;
}
.avatar-name h5 {
	font-size: 18px;
    margin-bottom: 0px;
    display: inline-block;
    color: $black;
}
.avatar-name span {
    color: $theme-color-3;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
.reply-2{
    font-weight: 600;
    font-size: 14px;
    color: #222;
    &:hover{
        color: $theme-color-3;
    }
}
.conatct-post-form .post-check{
    display: flex;
    align-items: center;
    & input {
        margin-right: 5px;
        width: auto;
        margin-bottom: 0;
        padding: 0;
    }
} 
.comments-text p {
	margin-bottom: 15px;
    margin-top: 8px;
    color: #5b5b5b;
}
.latest-comments li.children {
    margin-left: 100px;
    @media #{$xs}{
        margin-left: 15px;
    }
}
.load-comments{
    color: $theme-color-3;
    font-weight: 500;
}
.conatct-post-form input {
    border: 2px solid #f5f5f5;
    height: 55px;
    margin-bottom: 30px;
    padding: 0 30px;
    width: 100%;
    font-size: 14px;
    background: #f5f5f5;
    &::placeholder{
        color: $text-8;
    }
    &:focus{
        border-color: $theme-color-3;
    }
}
.conatct-post-form textarea {
	border: 2px solid #f5f5f5;
	height: 175px;
	margin-bottom: 10px;
	padding: 15px 25px;
	width: 100%;
    font-size: 14px;
    resize: none;
    outline: none;
    background: #f5f5f5;
    &::placeholder{
        color: $text-8;
    }
    &:focus{
        border-color: $theme-color-3;
    }
}
.post-rating {
    display: flex;
  }
//blog- css more
.blog{
	&__author{
        padding: 30px 40px;
        @include box-shadow(0px 1px 4px 0px rgba(10, 0, 58, 0.14));
        @include border-radius(10px);
        &-content{
            @media #{$xs} {
                margin-top: 30px;
            }
            & h5{
                font-size: 18px;
                margin-bottom: 10px;
            }
            & span{
                font-size: 14px;
                display: inline-block;
                margin-bottom: 15px;
            }
            & p{
                margin-bottom: 0;
            }
        }
        &-social{
            margin-bottom: 10px;
            & ul{
                & li{
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 5px;
                    }
                    & a{
                        &:hover{
                            color: $theme-color-3;
                        }
                    }
                }
            }
        }
    }
}

.blog__slider-d.owl-carousel .owl-item img {
    display: inherit;
    width: auto;
}