@use '../utils/index' as *;

/*----------------------------------------*/
/*  16. FEATURES CSS START
/*----------------------------------------*/   

.features{
    &__wrapper{
        border-bottom: 1px solid $black-6;
    }
    &__item{
        &:hover{
            & .features__icon{
                -webkit-transform: translateY(-5px) translate3d(0, -5px, 0);
                -moz-transform: translateY(-5px) translate3d(0, -5px, 0);
                -ms-transform: translateY(-5px) translate3d(0, -5px, 0);
                transform: translateY(-5px) translate3d(0, -5px, 0);
            }
        }
        &-border{
            position: relative;

            &::after{
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                @include transform(translateY(-50%));
                width: 1px;
                height: 106px;
                background-color: $border-2;
            }
        }
        &-2{
            display: flex;
            justify-content: center;
            & .features__icon{
                & i{
                    color: $theme-color-2;
                }
                &-2{
                    margin-bottom: 0;
                    & i{
                        color: $theme-color-3;
                    }
                }
            }
        }
        &-d{
            @media #{$md,$sm,$xs} {
                display: none;
            }
        }
    }
    &__icon{
        backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
        -moz-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
        -ms-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
        -o-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
        transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
        margin-bottom: 5px;
        & i{
            font-size: 45px;
            color: $theme-color-1;
        }
    }
    &__title{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 2px;
        &-2{
            color: $white;
        }
        &-3{
            font-weight: 600;
            margin-bottom: 0;
        }
    }
    &__content{
        & p{
            color: $text-7;
        }
        &-2{
            & p{
                margin-bottom: 0;
            }
        }
    }
}


// features-2 css start
.features-2{
    &__title{
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 16px;

        &-2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    &__icon{
        min-height: 60px;
        &-2{
            margin-bottom: 25px;
        }
    }
    &__item{
        padding: 0 92px;

        @media #{$xl}{
            padding-left: 52px;
            padding-right: 52px;
        }
        @media #{$lg}{
            padding-left: 18px;
            padding-right: 18px;
        }
        @media #{$md, $sm, $xs}{
            padding-left: 0;
            padding-right: 0;
        }
        &-br{
            border-right: 1px solid #ebebeb;
        }
        &-bb{
            border-bottom: 1px solid #ebebeb;

            @media #{$sm, $xs}{
                padding-top: 40px;
            }
        }
        &-2{
            padding-left: 45px;
            padding-right: 45px;

            @media #{$xl}{
                padding-left: 60px;
                padding-right: 60px;
            }

            @media #{$xs}{
                padding-left: 0;
                padding-right: 0;
            }
        }
        &-pt-65{
            padding-top: 65px;
        }
        &-pb-40{
            padding-bottom: 40px;
        }
    }
    &__content{
        &-2{
            & p{
                color: #555555;
            }
        }
    }
}
.brand{
    &__area{
        & .owl-carousel .owl-item img {
            width: auto;
        }
    }
    &__info{
        & h4{
            font-size: 24px;
        }
        & a{
            color: $theme-color-3;
            font-size: 16px;
            text-decoration: underline;
        }
    }
    &__slider{
        position: relative;
        & button{
            font-size: 26px;
            text-align: center;
            color: $border-3;
            @include border-radius(50%);
            &.main-slider-button-prev{
               margin-right: 5px;
            }
            &:hover{
                color: $theme-color-3;
            }
            @media #{$md,$sm,$xs} {
                display: none;
            }
        }
        & .owl-prev {
            position: absolute;
            top: 50%;
            left: -65px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            @media #{$xxl} {
                left: -15px;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1250px) {
                left: -40px;
            }
            @media only screen and (min-width: 991px) and (max-width: 1080px) {
                left: -25px;
            }
        }
        & .owl-next {
            position: absolute;
            right: -65px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            @media #{$xxl} {
                right: -15px;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1250px) {
                right: -40px;
            }
            @media only screen and (min-width: 991px) and (max-width: 1080px) {
                right: -25px;
            }
        }
        & .owl-nav {
            @media #{$xs} {
                display: none;
            }
        }
    }
}
.brand-area-2 .owl-carousel .owl-item img {
    width: auto;
}
.trending{
    &__info{
        & h5{
            font-size: 24px;
        }
        & p{
            font-size: 15px;
        }
    }
    &__categories-content{
        background: $white;
        padding: 25px 40px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
        & h6{
            font-size: 20px;
            margin-bottom: 15px;
        }
        & .smc-list{
            & ul{
                & li{
                   margin-bottom: 6px;
                   &:last-child{
                       margin-bottom: 0;
                   }
                    & a{
                        font-size: 15px;
                        color: $text-1;
                        font-weight: 500;
                        transition: .3s;
                        & i{
                            margin-right: 10px;
                        }
                        &:hover{
                            color: $theme-color-3;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        & .ct-view {
            color: #ff8429;
            font-size: 14px;
            text-decoration: underline;
        }
    }
}
.payment-image-2{
    @media #{$sm,$xs} {
        margin-top: 20px;
        text-align: center;
    }
}