{% load static %}

<section class="blog__area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="section__title-wrapper  section__title-line mb-20">
                    <h3 class="section__title">НАШИ РАБОТЫ</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="blog__slider blog__slider-d common-nav owl-carousel">
                    {% for case in last_cases %}
                        <div class="blog__item transition-3 mb-30 white-bg">
                            <div class="blog__thumb w-img fix p-relative">

                                <img src="{% if case.image_before %} {{ case.image_before.url }} {% else %} {% static 'assets/img/blog/blog-1.jpg' %} {% endif %}"
                                     alt="" id="{{ case.image_before.url }}" name="{{ case.image_after.url }}"
                                     class="case-images">

                                <div class="blog__date">
                                    <h5>{{ case.period }}</h5>
                                    <p>{{ case.period_to_days }}</p>
                                </div>
                            </div>
                            <div class="blog__content p-relative text-center">
                                <div class="blog__tag">
                                    <h4>
                                        <span>
                                            <a href="{{ case.get_absolute_url }}">{{ case.title }}</a>
                                        </span>
                                    </h4>
                                </div>
                                <p>{{ case.body | safe | truncatechars_html:200 }}</p>

                                <div class="blog__btn">
                                    <a href="{{ case.get_absolute_url }}" class="link-btn">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% block js %}
    <script src="{% static 'assets/js/STO.js' %}"></script>
{% endblock %}