{% load static %}
{#{% load custom_tags %}#}

<section class="product__area-trending pb-85">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="product__item-wrapper">
                    <div class="product__top section__title-line d-sm-flex align-items-start mb-35">
                        <div class="section__title-wrapper mr-30">
                            <h3 class="section__title">РАЗДЕЛЫ</h3>
                        </div>

                        <div class="product__tab">
                            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active disabled text-white" id="new-3-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#new-3" type="button"
                                            role="tab" aria-controls="new-3"
                                            aria-selected="true">
                                        Разделы
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="product__tab-content">
                    <div class="tab-content" id="myTab2Content">
                        <div class="tab-pane fade show active" id="new-3" role="tabpanel"
                             aria-labelledby="new-3-tab">
                            <div class="product__item-trending-slider common-nav owl-carousel">
                                {% for category in categories %}
                                    {% if not category.is_root_node %}
                                        <div class="product__item mb-20">
                                            <div class="product__thumb w-img fix">
                                                <a href="{{ category.get_absolute_url }}">
                                                    <img src="{% if category.image %}{{ category.image.url }}{% else %} {% static 'assets/img/defaults/category.png' %} {% endif %}" alt="">
                                                </a>
                                            </div>
                                            <div class="product__content text-center">
                                                <div class="product__tag">
                                                    <span>
                                                        <a href="{{ category.parent.get_absolute_url }}">{{ category.parent }}</a>
                                                    </span>
                                                </div>
                                                <h3 class="product__title">
                                                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                                </h3>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
