{% extends 'base_STO.html' %}
{% load static %}


{% block content %}
    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- page content start -->
        <section class="shop-details pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4">
                        <div class="pro-cart-btn">
                            <a href="{% url 'services_registration' %}" class="btn-tp-2 mb-20 m-1 w-100">Записаться на
                                СТО</a>
                        </div>
                        <h4>{{ title }}</h4>

                    </div>
                    <div class="col-xxl-9 col-xl-8">
                        <div class="shop-top-area mb-20">
                            <div class="row">
                                <div class="col-xxl-4 col-xl-2 col-md-3 col-sm-3">
                                </div>
                                {% if not all %}
                                    <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-6">
                                        <p class="show-total-result text-sm-center">
                                            {% if not category.is_root_node %}
                                                Показано {{ page_obj.start_index }}-{{ page_obj.end_index }}
                                                из {{ page_obj.paginator.count }}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                                <div class="col-xl-4 col-xl-4 col-md-3 col-sm-3">
                                </div>
                            </div>
                        </div>
                        <div class="shop-main-area mb-40">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade active show" id="tab1">
                                    <div class="row">
                                        {% for service in object_list %}
                                            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                                <a name="to_{{ service.slug }}"></a>

                                                <div class="product__item mb-20">
                                                    <div class="product__thumb w-img fix">
                                                        <a href="{{ service.get_absolute_url }}">
                                                            <img src="
                                                            {% if service.image %}
                                                            {{ service.image.url }}
                                                            {% else %}
                                                            {% static 'assets/img/defaults/category.png' %}
                                                            {% endif %}"
                                                                 alt="">
                                                        </a>
                                                    </div>
                                                    <div class="text-center m-1">
                                                    </div>

                                                    <div class="product__content border-bottom">
                                                        <div class="product__tag product__tag-4">
                                                            {% if service.category %}
                                                                <span>
                                                                <a href="{{ service.category.parent.get_absolute_url }}">
                                                                    {{ service.category.parent }}
                                                                </a>
                                                                    </span>
                                                            {% endif %}
                                                        </div>
                                                        <h3 class="product__title">
                                                            <a href="{{ service.get_absolute_url }}">{{ service.title }}</a>
                                                        </h3>
                                                        <div class="product__price product__price-4 mb-10">
                                                            <span class="price">от {{ service.min_price }} &#x20bd;</span>
                                                        </div>
                                                        <a href="{{ service.get_absolute_url }}">Подробнее об услуге</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- pagination start -->
                        <div class="shop-pagination">
                            <div class="basic-pagination">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="{% if not page_obj.has_previous %} btn p-0 disabled {% endif %}"
                                               href="{% if page_obj.has_previous %} ?page=
                                                   {{ page_obj.previous_page_number }}{% else %} # {% endif %}">
                                                <i class="far fa-angle-left"></i>
                                            </a>
                                        </li>
                                        {% for page in page_obj.paginator.page_range %}
                                            <li>
                                                <a href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li>
                                            <a class="{% if not page_obj.has_next %} btn p-0 disabled {% endif %}"
                                               href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                                               {% else %} # {% endif %}">
                                                <i class="far fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- pagination end -->

                    </div>
                </div>
            </div>
        </section>
        <!-- page content end -->
    </main>

{% endblock %}

