{% load static %}

<footer>
    <div class="footer__area footer-bg">
        <div class="footer__top footer__top-space pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer__widget footer__widget-border footer-col-1 pb-30">
                            <div class="footer__info">
                                <div class="logo footer__logo mb-55">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="footer__subscribe">
                                    <p class="f-left">Ваша машина - </p>
                                    <p class="f-right">наша забота.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer__widget footer-col-2 pb-30">
                            <h3 class="footer__widget-title">Свяжитесь с нами</h3>
                            <div class="footer__widget-content">
                                <div class="footer__contact">
                                    <h3 class="footer__contact-phone"><a href="tel: +79782662603"> +79782662603</a>
                                    </h3>
                                    <div class="footer__opening">
                                        <p>Пн-Пт 09:00 - 18:00</p>
                                        <p>Сб: 09:00 - 15:00</p>
                                    </div>
                                    <div class="footer__contact-email">
                                        <p><a href="mailto:karmaster92@mail.ru">karmaster92@mail.ru</a></p>
                                    </div>
                                    <div class="footer__contact-email">
                                        <p>Севастополь, ул. Промышленная, 8</p>
                                    </div>
                                    <div class="footer__social">
                                        <ul>
                                            <li>
                                                <a href="viber://chat?number=79782662603" target="_blank"
                                                   rel="noopener">
                                                    <i class="fab fa-viber"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://wa.me/79782662603" target="_blank" rel="noopener">
                                                    <i class="fab fa-whatsapp"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/karmaster92/" target="_blank"
                                                   rel="noopener">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCVjBSfzyoFqcnOkkSy8NEZg"
                                                   target="_blank" rel="noopener">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://vk.com/cmsto" target="_blank" rel="noopener">
                                                    <i class="fab fa-vk"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="footer__widget footer-col-3 pb-30">
                            <h3 class="footer__widget-title">Полезные ссылки</h3>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        <li>
                                            <a href="{% url 'contacts' %}">Контакты</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'stocks_list' %}">Акции и бонусы</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'about' %}">О компании</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="footer__widget footer-col-4 pb-30">
                            <h3 class="footer__widget-title">ИП Самойленко Роман Юрьевич</h3>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    ОГРНИП
                                </div>
                                <div class="col-6 footer__links">
                                    319920400021886 от 20.0.2019
                                </div>
                            </div>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    ИНН
                                </div>
                                <div class="col-6 footer__links">
                                    920151147002
                                </div>
                            </div>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    Юридический адрес
                                </div>
                                <div class="col-6 footer__links">
                                    299045, г. Севастополь, ул. Репина, д. 19, кв. 21
                                </div>
                            </div>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    Фактический адрес
                                </div>
                                <div class="col-6 footer__links">
                                    299040, г. Севастополь, ул. Промышленная, 8
                                </div>
                            </div>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    р/с
                                </div>
                                <div class="col-6 footer__links">
                                    40802810341580002616
                                </div>
                            </div>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    к/с
                                </div>
                                <div class="col-6 footer__links">
                                    30101810335100000607
                                </div>
                            </div>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    Банк
                                </div>
                                <div class="col-6 footer__links">
                                    РНКБ (ПАО) г. Севастополь
                                </div>
                            </div>
                            <div class="row footer__widget-content">
                                <div class="col-6 footer__links">
                                    БИК
                                </div>
                                <div class="col-6 footer__links">
                                    043510607
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer__offer bg-dark">
        <div class="container">
            <div class="footer__offer-inner">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="footer__offer-content d-sm-flex align-items-center justify-content-center">
                            <p><a href="{% url 'services_registration' %}">Запишитесь на СТО</a> прямо сейчас</p>
                            <p><a href="https://wa.me/79782662603">Напишите</a> нашему менеджеру в WhatsApp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="footer__bottom-wrapper">
                        <div class="footer__bottom-links">
                            <ul>
                                <li>
                                    Цены, которые указаны на сайте, представляют собой справочную информацию, не являются публичной офертой и могут быть изменены в любое время без предупреждения.
                                </li>
                            </ul>
                        </div>
                        <div class="footer__copyright">
                            <p>Copyright ©2022 <a href="{% url 'index' %}">karmaster92.ru</a> All Rights Reserved</p>
                            <p> by LaLluviadelJulio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
