{% load static %}
{% load mptt_tags %}

<header>
    <div class="header__area">

        <!-- header top start -->
        <div class="header__top black-bg d-none d-md-block">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="header__top-info text-center">
                            <ul>
                                <li>
                                    <p>Узнайте больше о накопительных бонусах: <a href="{% url 'bonus' %}">Узнать</a></p>
                                </li>
                                <li>
                                    <p>Выгода с реферальной программой: <a href="{% url 'referral' %}"><span>К условиям</span></a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top end -->

        <div class="header__middle header__border d-none d-md-block">
            <div class="container">
                <div class="row align-items-center">

                    <!-- top header contacts start -->
                    <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-8">
                        <div class="header__social">
                            <ul>
                                <li><a href="tel: +79782662603"><i class="fal fa-headphones"></i> +79782662603</a>
                                </li>
                                <li><a href="mailto:karmaster92@mail.ru"><i class="fal fa-envelope"></i>
                                    karmaster92@mail.ru</a></li>
                                <li><a href="{% url 'contacts' %}#map"><i class="fal fa-address-card"></i> Севастополь, ул. Промышленная, 8</a>
                                </li>
                                <li><a href="{% url 'contacts' %}"><i class="fal fa-clock"></i> Пн-Пт с 9 до 18, Сб до 15</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- top header contacts end -->

                    <!-- top header menu start -->
                    <div class="col-xxl-6 col-xl-6 col-lg-4 col-md-4">
                        <div class="header__middle-right d-flex align-items-center justify-content-end">
                            <div class="main-menu main-menu-border main-menu-4">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="has-dropdown">
                                            <a href="{% url 'category_read' 'all' %}">Услуги</a>
                                            <ul class="submenu">
                                                {% recursetree categories %}
                                                    {% if node.is_root_node %}
                                                        <li>
                                                            <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endrecursetree %}
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{% url 'services_registration' %}">Записаться на СТО</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'stocks_list' %}">Акции и бонусы</a>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="{% url 'contacts' %}">Контакты</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="{% url 'about' %}">О нас</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'cases_list' %}">Наши работы</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'guarantees' %}">Гарантии</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'reviews' %}">Отзывы</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'contacts' %}">Связаться с нами</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'contacts' %}#map">Как проехать</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- users account start -->
                            {#                            <div class="header__action ml-30">#}
                            {#                                <ul>#}
                            {#                                    <li>#}
                            {#                                        <a href="#"><i class="fal fa-user-circle"></i></a>#}
                            {#                                    </li>#}
                            {#                                </ul>#}
                            {#                            </div>#}
                            <!-- users account end -->
                        </div>
                    </div>
                    <!-- top header menu end -->

                </div>
            </div>
        </div>

        <!-- header menu tab start -->
        <div class="header__bottom bg-dark">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-6">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-8 d-none d-lg-block">
                        <div class="category__menu d-flex align-items-center">
                            <div class="category__btn mr-20">
                                <button class="cat-btn" type="button"><i class="far fa-bars"></i>Все услуги</button>

                                {% include 'includes/header/all-services.html' %}

                            </div>
                            <nav>
                                <ul>
                                    {% for category in categories %}
                                        {% if category.is_root_node %}
                                            <li>
                                                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-1 col-6">
                        <div class="header__bottom-right-wrapper d-flex justify-content-end align-items-center">
                            <div class="header__bottom-right d-none d-xl-flex align-items-center justify-content-end">

                                <!-- search area start -->
                                <div class="header__search">
                                    <form action="{% url 'search_services' %}" method="get">
                                        <div class="header__search-input input-group">
                                            <input type="text" placeholder="Поиск услуг..."
                                                   name="search_panel" aria-label="Search">
                                            <div class="input-group-append">
                                                <button type="submit"><i class="far fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- search area end -->

                                <div class="header__action ml-30">
                                </div>
                            </div>
                            <div class="header-bar ml-20 d-xl-none">
                                <button type="button" class="header-bar-btn" data-bs-toggle="modal"
                                        data-bs-target="#offCanvasModal">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header menu tab end -->

    </div>
</header>
