@use '../utils/index' as *;

/*----------------------------------------*/
/* 07. section title css start
/*----------------------------------------*/    

.section{
    &__title{
        font-size: 22px;
        font-weight: 600;
        //text-transform: capitalize;
        padding-bottom: 12px;
        margin-bottom: 0;
        position: relative;
        display: inline-block;
        &::after{
            position: absolute;
            content: '';
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 3px;
            background-color: $theme-color-1;
        }
        &-line{
            border-bottom: 2px solid $border-3;
            &-2{
                padding-bottom: 10px;
            }
        }
        &-2{
            font-size: 22px;
            font-weight: 600;
            //text-transform: capitalize;
            padding-bottom: 12px;
            margin-bottom: 0;
            position: relative;
            display: inline-block;
        }
        &-icon{
            line-height: 1;
            & img, svg {
                vertical-align: inherit;
            }
        }
        &-3{
            font-size: 22px;
            font-weight: 600;
            //text-transform: capitalize;
            margin-bottom: 0;
            position: relative;
            display: inline-block;
            line-height: 1;
        }
        &-4{
            font-size: 24px;
            &::after{
                display: none;
            }
        }
        &-5{
            font-size: 24px;
            padding-bottom: 0;
            &::after{
                display: none;
            }
        }
    }
}

/* page title area */
.page{
	&__title{
		height: 450px;
		@include background();
		@media #{$sm}{
			height: 400px;
		}
		@media #{$xs}{
			height: 350px;
		}
		&-inner{
			& h1{
				font-size: 36px;
				color: $black-2;
				//text-transform: capitalize;
				margin-bottom: 25px;
			}
			@media #{$sm,$xs}{
				margin-top: 0px;
			}
		}
		&-breadcrumb{
			& .breadcrumb{
				background: transparent;
				padding: 0;
				margin-bottom: 0;
				@include border-radius(0);
			}
			& .breadcrumb-item{
				font-size: 12px;
				//text-transform: capitalize;
				color: $black-5;
				font-weight: 300;
				& a{
					&:hover{
						color: $theme-color-3;
					}
				}
				&.active{
					color: $black-2;
					&::before{
						color: $black-5;
					}
				}
			}
		}
	}
}
